.forecast{
    margin-top: 4rem;
}

.forecast__cityName{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 2rem;
}

.forecast__day{

}

@media only screen and (max-width:500px) {
    .forecast__cityName{
        font-size: 3rem;

    }
}