.home{
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 6.71rem);
    align-items: end;
}

.MainWeatherInfo{
    padding: 10rem 0 ;
}

.MoreWeatherInfo{
    height: 100%;
}

@media only screen and (max-width: 800px) {
    .home{
        flex-direction: column;
        align-items: center;
    }
}
