.home{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding-top: 8.3rem;
}


@media only screen and (max-width: 800px) {
    .home{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
