.MoreWeatherInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    font-size: 2.5rem;
}
.MoreWeatherInfo__title{

}
.MoreWeatherInfo__subtitle{

}
.MoreWeatherInfo__body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}