header {
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.338);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom: 1px solid #fff;
    position: sticky;
    z-index: 10;
}

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0rem;
    gap: 1rem;
    height: 8rem;
}

/* start header left */

.header__left{
    
}
.header__logo{

}
.header__links{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header__link{
    font-size: 2rem;
    text-wrap: nowrap;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: aliceblue;
    font-size: 4rem;
    -webkit-tap-highlight-color: transparent;
}

.header__link.active{
    color: rgb(40, 83, 40);
}

/* end header left */




/* start header right */

.header__right{
    display: flex;
    align-items: center;
}



/* end header right */


/* responsive */
@media only screen and (max-width: 500px) {
    .header__logo{
        width: 5rem;
    }
    .header__links{
        gap: 1rem;
    }
    .MuiContainer-root{
        padding: 0 8px !important;
    }
}