@import url(./assests/css/reset.css);
@import url(./assests/css/variables.css);
@import url(./assests/css/fonts.css);

:root {
    font-size: 10px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'vazir';
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #000000a4;
    backdrop-filter: blur(10px);
}

::-webkit-scrollbar-track{
    background-color: gray;
}
